
<<<<<<< HEAD
	/*Media.css*/


/* Computers/Laptops */
=======
		/*Media.css*/
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b

@media (min-width: 1200px) {

    .line_caption {
		margin-left: 115px;
	}

}

<<<<<<< HEAD
/* Laptops/Tablets */

=======
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b
@media (min-width: 992px) and (max-width: 1200px) {

    .line_caption {
		margin-left: 95px;
	}

}

<<<<<<< HEAD
/* Smartphones */

=======
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b
@media (max-width: 450px) {

	#home h3 {
		font-size: 25px;
	}

	#home h1 {
		font-size: 35px;
	}

	#Unikalnost_Media {
		font-size: 30px;
	}
	
	#PHP_Form {
		width: 200px;
	}

	#adress_Media {
		margin-top: 10px;
	}

}

<<<<<<< HEAD
/* Small smartphones */

@media (max-width: 290px) {

	#footer_text_btn {
=======
@media (max-width: 290px) {

	#footer_text_bottom {
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b
		margin-left: -7px;
	}

}

<<<<<<< HEAD

=======
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b
@media (min-height: 900px) {

	#welcome {
		margin-top: 5%;
	}

}
