img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}



#carouselExampleSlidesOnly {
	margin-top: 150px;
	margin-bottom: 150px;
}

#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}
#im2_g img {
    height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}

#carouselExampleSlidesOnly img {
	height: 530px;
}

@media (max-width: 411px) {
	#logo {
		margin-left: 140px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 155px;
	}
}

@media (max-width: 330px) {
	#logo {
		margin-left: 90px;
	}

	#lines_3 {
		margin-top: 50px;
		margin-left: 105px;
	}
}

@media (min-width: 411px) {
	#logo {
		margin-left: 155px;
	}
	#lines_3 {
		margin-top: 50px;
		margin-left: 170px;
	}
}

@media (max-width: 1199px) {
	#im1_g img {
	margin-left: 45px;
	}

	#im2_g img {
		margin-left: 45px;
	}
}

@media (min-width: 992px) {
	#first_link {
		margin-left: 465px;
	}
}

@media (max-width: 991px) {
	#first_link {
		margin-left: 90px;
	}

	#im1_g img {
	margin-left: 0;
	}

	#im2_g img {
		margin-left: 0;
	}
}
