img {
	user-select: none;
}

nav a {
	color: black;
	font-size: 18px;
	margin-right: 10px;
}



#carouselExampleSlidesOnly {
	margin-top: 150px;
	margin-bottom: 150px;
}

#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}
#im2_g img {
    height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}

#carouselExampleSlidesOnly img {
	height: 530px;
}

@media (max-width: 575px) {
	#lines_3 {

	}

	#first_block {
		text-align: center;
	}

	#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 0;
	}

	#im2_g img {
    	height: 360px;
		width: 100%;
		margin-bottom: 45px;
		margin-left: 0;
	}
}

@media (max-width: 1199px) {
	#im1_g img {
	margin-left: 45px;
	}

	#im2_g img {
		margin-left: 45px;
	}
}

@media (min-width: 992px) {
	#first_link {
		margin-left: 465px;
	}
}

@media (max-width: 991px) {
	#first_link {
		margin-left: 90px;
	}

	#im1_g img {
	margin-left: 0;
	}

	#im2_g img {
		margin-left: 0;
	}
}
