body {
    background: #000 url(https://www.teahub.io/photos/full/1-13722_every-moment-matters-laptop.png) no-repeat center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

