<<<<<<< HEAD
img{
  user-select: none;
}

p {
  font-size: 25px;
}

@font-face {
  font-family: Lobster;
  src: url(http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin,cyrillic);
=======
img{
  user-select: none;
}

p {
  font-size: 25px;
}

@font-face {
  font-family: Lobster;
  src: url(http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin,cyrillic);
>>>>>>> a9cc84d9f21feab20e8b821e48cb0a1e7f9c2d5b
}